<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ||= "CRUD Project" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice].present? %>
    <%= flash[:notice] %>
  <% end %>
  <% if flash[:alert].present? %>
    <%= flash[:alert] %>
  <% end %>

<%= yield %>

</body>
</html>
